Bab 1 
Nama : Muhammad Galang Al-Hakim Batch : 004

Import Pustaka

In [6]:
import pandas as pd

Data Loading

In [12]:
df = pd.read_excel('NMC1-9.xlsx')

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 90982 entries, 0 to 90981
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   time(s)      90982 non-null  int64
 1   V_m          90982 non-null  float64
 2   Current (A)  90982 non-null  float64
 3   Cycle        90982 non-null  int64
 4   Cap          90982 non-null  float64
dtypes: float64(3), int64(2)
memory usage: 3.5 MB

In [15]:
df.describe()

            time(s)           V_m   Current (A)         Cycle           Cap
count  90982.000000  90982.000000  90982.000000  90982.000000  90982.000000
mean   45490.500000      3.607666      0.999264      4.978699      2.806214
std    26264.385433      0.322777      0.001997      2.582135      0.023283
min        0.000000      2.497000      0.993000      1.000000      2.770180
25%    22745.250000      3.422000      0.997000      3.000000      2.786860
50%    45490.500000      3.636000      0.999000      5.000000      2.804878
75%    68235.750000      3.868000      1.001000      7.000000      2.823520
max    90981.000000      4.114000      1.003000      9.000000      2.840817

In [27]:
df.head()

   time(s)    V_m  Current (A)  Cycle       Cap
0        0  4.098        0.997      1  2.840817
1        1  4.096        0.998      1  2.840817
2        2  4.094        0.999      1  2.840817
3        3  4.093        0.998      1  2.840817
4        4  4.092        0.999      1  2.840817

In [28]:
df.tail()

       time(s)    V_m  Current (A)  Cycle      Cap
90977    90977  2.506        1.002      9  2.77018
90978    90978  2.504        1.002      9  2.77018
90979    90979  2.502        1.002      9  2.77018
90980    90980  2.500        1.002      9  2.77018
90981    90981  2.497        1.002      9  2.77018

Data Cleaning

Bagian A

In [16]:
#Fungsi hambatan
def hambatan(x,y):
    hambatan = x/y
    return hambatan

In [17]:
#Fungsi daya
def daya(x,y):
    daya = x*y
    return daya

In [18]:
df['V_m']

0        4.098
1        4.096
2        4.094
3        4.093
4        4.092
         ...
90977    2.506
90978    2.504
90979    2.502
90980    2.500
90981    2.497
Name: V_m, Length: 90982, dtype: float64

In [19]:
df['Current (A)']

0        0.997
1        0.998
2        0.999
3        0.998
4        0.999
         ...
90977    1.002
90978    1.002
90979    1.002
90980    1.002
90981    1.002
Name: Current (A), Length: 90982, dtype: float64

Bagian B

In [48]:
import pandas as pd
df = pd.read_excel("NMC1-9.xlsx")
df

       time(s)    V_m  Current (A)  Cycle       Cap
0            0  4.098        0.997      1  2.840817
1            1  4.096        0.998      1  2.840817
2            2  4.094        0.999      1  2.840817
3            3  4.093        0.998      1  2.840817
4            4  4.092        0.999      1  2.840817
...        ...    ...          ...    ...       ...
90977    90977  2.506        1.002      9  2.770180
90978    90978  2.504        1.002      9  2.770180
90979    90979  2.502        1.002      9  2.770180
90980    90980  2.500        1.002      9  2.770180
90981    90981  2.497        1.002      9  2.770180

[90982 rows x 5 columns]

Jawaban

In [49]:
hambatan_daya = []

for i in range(len(df)):
    if df["Cap"][i] >= 2.5:
        hambatan_daya.append(daya(df["V_m"][i], df["Current (A)"][i]))
    else:
        hambatan_daya.append(hambatan(df["V_m"][i], df["Current (A)"][i]))

df["hambatan_daya"] = hambatan_daya
df["hambatan_daya"]

0        4.085706
1        4.087808
2        4.089906
3        4.084814
4        4.087908
           ...
90977    2.511012
90978    2.509008
90979    2.507004
90980    2.505000
90981    2.501994
Name: hambatan_daya, Length: 90982, dtype: float64

Conclusion

In [56]:
df[(df["Current (A)"] == 1) & (df['Cycle']%2 !=0)][['Cap']].mean()

Cap    2.806485
dtype: float64